<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/style.css" />
    <title>Pokedex</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><img src='/IMG/pokebola-go.png' alt="pokebola"></li>
        <a href="/"><h1>Pokédex</h1></a>
        <li><a href="#cadastro">Cadastro</a> </li>
        <li><a href="#cards">Pokémons</a></li>
      </ul>
    </nav>
    <header>
      <img src="/IMG/header.jpg" alt="banner">
    </header>

    <main>
      
      <img src="/IMG/pokedex.png" alt="pokedex">

      
      <section id="cadastro">

        <% if (pokemon == undefined) { %>

        <h2>Cadastre um novo Pokémon!</h2>

        <form action="/create" method="POST">

          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" >

          <label for="descricao">Descrição:</label>
          <input type="text" id="descricao" name="descricao" >

          <label for="tipo">Tipo:</label>
          <input type="text" id="tipo" name="tipo" />

          <label for="imagem">Link da imagem:</label>
          <input type="text" id="imagem" name="imagem" >

          <button id="btnCadastrar" type="submit">Cadastrar</button>
        </form>

        <% }else { %>

          <h2>Atualização do Pokémon</h2>

        <form action="/update/<%= pokemon.id %>" method="POST">
          <label for="nome">Nome:</label>
          <input
            type="text"
            id="nome"
            name="nome"
            value="<%= pokemon.nome %>"
          >

          <label for="descricao">Descrição:</label>
          <input
            type="text"
            id="descricao"
            name="descricao"
            value="<%= pokemon.descricao %>"
          >

          <label for="tipo">Tipo:</label>
          <input
            type="text"
            id="tipo"
            name="tipo"
            value="<%= pokemon.tipo %>"
          >

          <label for="imagem">Link da imagem:</label>
          <input
            type="text"
            id="imagem"
            name="imagem"
            value="<%= pokemon.imagem %>"
          >

          <button id="btnUpdate" type="submit">Atualizar</button>
        </form>
        <% } %>   
      </section>

      <h2>Lista de Pokémons</h2>
      <section id="cards">
      
        <% pokedex.forEach((pokemon) => { %>

        <div class="card">
          <img src="<%= pokemon.imagem %>" alt="" />
          <p>nº 0<%= pokemon.id %></p>
          <h2><%= pokemon.nome %></h2>
          <p class="descricao"><%= pokemon.descricao %></p>
          <p>Tipo: <%= pokemon.tipo %></p>
          <a id='editar' href="/detalhes/<%= pokemon.id %>">Editar</a>
          <a id='apagar' href="/delete/<%= pokemon.id %>">Apagar</a>
        </div>

        <% }) %>
      </section>
    </main>
    <footer>
      <p>Todos os direitos reservados para <a target="_blank" href="https://www.linkedin.com/in/monicashdias/">Monica Dias</a>&copy;</p>
      <p>Dados retirados de <a href="https://www.pokemon.com/br/pokedex/">Pokédex</a></p>
    </footer>
  </body>
</html>
